[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "*"
lxml = "*"
pyinstaller = "*"
pyopenssl = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
